/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Punk';
    src: url('/fonts/punk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Calibri', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: black;
}